* text=auto eol=lf

*.svg   text eol=lf
*.png   binary
*.jpg   binary
*.woff  binary
*.woff2 binary

bun.lock                  linguist-generated=true
src/app/routeTree.gen.ts  linguist-generated=true
design/**                 linguist-vendored=true
